
@{
    ViewBag.Title = "APP_1";
}
<%@Page Language="C#"%>

<html>
<body>
    <form id="Form1" runat="server">
        <asp:TextBox runat="server" id="textbox1" Text="テキストです" /><br>
        <asp:Label runat="server" id="label1" Text="ラベルです" /><br>
        <asp:Button runat="server" id="button1" Text="ボタンです" />
        <p>こんにちは、世界</p>
        <label>hello</label><br>
        <asp:TextBox runat="server" id="textbox1" />テキストです<br>
        <br>
        <asp:GridView ID="GridView1" runat="server">

        </asp:GridView>
</form>
</body>
</html>