
@{
    ViewBag.Title = "APP_1";
}
<%@Page Language="C#"%>

<html>
<body>
    <form id="Form1" runat="server">
        <textarea id="TextArea1" rows="2" cols="20"></textarea>
        <asp:TextBox runat="server" id="textbox1" Text="テキストです" /><br>
        <asp:Label runat="server" id="label1" Text="ラベルです" /><br>
        <asp:Button runat="server" id="button1" Text="ボタンです" />
    </form>
</body>
</html>